.toDoContainer {
    flex: 1;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.itemContainer {
    margin: 1rem;
    padding: 1rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 15px;
    background-color: white;
}

#toDoInput {
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 2rem;
}

.submitButton {
    width: 5rem;
    height: 2.5rem;
    border: gray solid 0.1rem;
    border-radius: 0.5rem;
}

.submitButton:hover {
    cursor: pointer;
    border-color: black;
}

p {
    width: 60%;
    word-wrap: break-word;
    font-size: 1.2rem;
}

#itemCheckbox {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.crossed-out {
    text-decoration: line-through;
}

.deleteButton {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.dragHandle {
    cursor: grab;
    font-size: 1.5rem;
}

.dragHandle:active {
    cursor: grabbing;
}

@media (max-width: 425px) {
    .topWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #toDoInput {
        margin: 0;
        padding: 0;
        font-size: 16px;
        width: 80vw;
    }

    .submitButton {
        margin: 2rem;
        width: 12rem;
        height: 4rem;
        font-size: larger;
    }

    
}