h1 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.itemContainer {
    margin: 1rem;
    padding: 1rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 15px;
    background-color: white;
}

#toDoInput {
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 2rem;
}

.submitButton {
    width: 5rem;
    height: 2rem;
}

p {
    width: 80%;
    word-wrap: break-word;
    font-size: 1.2rem;
}

.deleteButton {
    height: 3rem;
    width: 3rem;
}

.dragHandle {
    cursor: grab;
    font-size: 1.5rem;
}

.dragHandle:active {
    cursor: grabbing;
}