.inputBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0.5rem;
}

@media screen and (max-width: 480px) {
    .inputBar {
        flex-direction: column;
    }

    #toDoInput {
        margin: 0.5rem;
        width: 70%;
    }
}